<%- include(partialPaths.header) %>
    <main class="first-page-content">
        <p>Contact US</p>
        <a>oneit@charlotte.edu</a>
        <h5>+1 123456789</h5>
    </main>
<%- include(partialPaths.footer) %>