<%- include(partialPaths.header) %>
    <main class="first-page-content">
        <h1>Welcome to the NBAD Class.</h1>
        <br>

        <p>Welcome to NBAD Class. Join the class to learn more about Network Based Application Development.</p>
        <br>
        <p>Checkout the Connections section to get information about the various events that are planned!</p>
    </main>
<%- include(partialPaths.footer) %>